<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="shortcut icon" href="./favicon.png" type="image/png">
    <link rel="stylesheet" href="style.css">
</head>
<body style="display: grid; place-items: center; background: url('./CoursesCardDescriptiong.svg');background-repeat: repeat;">
    <nav >
        <a href="https://hatha-yoga.jp"><div style="display: flex;align-items: center;" id="dasdaa">
            <img style="border-radius: 50%;" src="./favicon.png" width="7%">
            <div id="BodyTitle" style="font-size: 35px;font-family: 'playfair display';margin-left: 11px;">
            Classical Hathayoga in Japan</div>
        </div></a>
        <ul class="listAbles">
            
            <li class="active"><a href="https://hatha-yoga.jp">Home</a></li>
            <li><a href="https://hatha-yoga.jp#about">About</a></li>
            <li><a href="https://hatha-yoga.jp#courses">Courses</a></li>
            <li><a href="https://hatha-yoga.jp#teacher">Teacher</a></li>
            <!-- <li><a href="#message">Message</a></li> -->
            <!-- <li><button class="dabutton" id="sd">Learn!</button></li> -->
        </ul>
        <div id="menu" style="display: none;font-size: 30px;"><img src="./menu.png" width="26px"/></div>
    </nav>
    <!-- <svg style="position: absolute; z-index:-2; top:-9px;" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'><rect fill='#ffffff' width='1600' height='900'/><defs><linearGradient id='a' x1='0' x2='0' y1='1' y2='0'><stop offset='0' stop-color='#0FF'/><stop offset='1' stop-color='#CF6'/></linearGradient><linearGradient id='b' x1='0' x2='0' y1='0' y2='1'><stop offset='0' stop-color='#F00'/><stop offset='1' stop-color='#FC0'/></linearGradient></defs><g fill='#FFF' fill-opacity='0' stroke-miterlimit='10'><g stroke='url(#a)' stroke-width='2'><path transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/><circle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/><path transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/></g><g stroke='url(#b)' stroke-width='4'><path transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/><rect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/><path transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/></g></g></svg> -->
   
   
   
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeQEYKT756MFrHJNqriGGcB34KtM9oyslBijDSAciUi-3gfHQ/viewform?embedded=true" width="680" height="2464" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <footer>
        <div style="font-family: 'open sans';">
            <div style="text-align: left; font-size: 26px; font-family: 'playfair display'; font-weight: 600;margin-bottom: 7px;margin-top: 10px;">Contact us</div>
    
            <h2 id="email">hathayogajapan@gmail.com</h2>
        
            <h2 id="phone">+81-80-4201-8493</h2>
            <h2 id="fb">hathayogajapan</h2>
            <h2 id="cc" >Deepika 2022</h2>
            <div style="text-align: left;font-family: 'open sans'; width: 700px;color: gray; font-size: 14px;">All images are property of their respective owners, we do not claim rights to these.</div>
        </div>
        <div>
        <img src="./Certfication.png"/>
        <div style="text-align: right;font-family: 'open sans'; color: gray; font-size: 12px;">Image Courtesy: Isha Foundation</div>
    
    </div>
    </footer>
<script src="/app.js"></script>
    
</body>
</html>